.contacts-banner {
    background-image: url(../img/teeth-crush.jpg);
    min-height: 551px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    flex-wrap: wrap;
}

.contacts-button-item {
    display: flex;
    font-size: 20px;
    color: rgb(32, 32, 32);
}

.location-img {
    display: block;
    position: relative;
    height: 70px;
    width: auto;
    padding: 10px 20px 0 0;
   }

form {
padding: 20px 0 20px 85px;
}

.contacts-button {
    border: 1px solid var(--main-color);
    color: rgb(32, 32, 32);
    border-radius: 5px;
    padding: 7px 7px 7px 7px; 
    font-size: 16px;
    font-weight: bold;
    background: transparent;
}

.contacts-button:hover {
    color: white;
    background-color: var(--main-color);
    border: 1px solid white;
}

.title-feedback {
    text-align: center;
    font-size: 24px;
    color: var(--main-color);
    background-color: rgb(197, 195, 195);
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin-top: 30px;
}

.feedback {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.form-element {
    padding-left: 10px;
}

.label-element {
    display: block;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 22px;
    color: rgb(32, 32, 32);
}

input, textarea {
    width: 295px;
    font-size: 18px;
    border: 1px solid grey;

}

option {
    width: 295px;
    font-size: 17px;
}
.input_button {
    width: 150px;
    float: left;
    border: 1px solid black;
    color: rgb(32, 32, 32);
    background-color: lightgrey;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    }

.input_button:hover {
    background-color: white;
}

