@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'PT Serif', serif;
    --main-color: #444444;
    --second-color: #606060;
    --third-color: #ffffff;
}

h1, img, h2, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

header .banner h1 nav .logo {
    font-family: 'PT Serif', serif;
    text-align: center;
}

.logo {
    color: var(--main-color);
    margin-top: 10px;
    margin-left: 10px;
    text-align:  center;
}

header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

header nav .top-menu-item {
    font-size: 30px;
    text-decoration: none;
    color: var(--second-color);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px solid transparent;
    }
  
 header nav .top-menu-item:hover {
    background: var(--second-color);
    color: var(--third-color);
    border-radius: 15px;
    opacity: 0.5;
}

@media (min-width: 500px) {
header nav {
    display: flex;
    align-items: center;
    }
 
ul .logo {
    flex-wrap: wrap;
}

header nav .top-menu {
    flex: 1;
    margin: 0;
    }

header .top-menu .top-menu-item .logo {
    margin-top: -10px;
    display: flex;
    align-content: space-around;
    }  
}

header .banner {
    background-image: url(../img/teeth-crush.jpg);
    min-height: 551px;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

    .tagline {
        font-size: 48px;
        color: var(--second-color);
        padding-left: 30px;
        font-style: italic;
    }

    .name-clinic {
        font-size: 48px;
        font-style: italic;
        color: var(--main-color);
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .reception-with-paragraph {
        display: flex;
        justify-content: space-around;
        align-self: center;
    }

    .paragraph {
        max-width: 370px;
        text-align: justify;
        margin-left: 30px;
        font-size: 22px;
        color: var(--main-color);
    }

    .reception {
        max-width: 350px;
        }

    .contact-block {
        max-width: 980px;
        border-radius: 15px;
        background-color: rgb(197, 195, 195);
        margin-top: 50px;
    }