@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'PT Serif', serif;
    --main-color: #444444;
    --second-color: #606060;
    --third-color: #ffffff;
}

h1, img, h2, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

header .banner h1 nav .logo {
    font-family: 'PT Serif', serif;
    text-align: center;
}

.logo {
    color: var(--main-color);
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    }

header nav .top-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
}

header nav .top-menu-item {
    font-size: 30px;
    text-decoration: none;
    color: var(--second-color);
    padding: 15px;
    border-radius: 15px solid transparent;
    }
  
 header nav .top-menu-item:hover {
    background: var(--second-color);
    color: var(--third-color);
    border-radius: 15px;
    opacity: 0.5;
}
li {
    justify-content: space-around;
}

@media (min-width: 400px) {
header nav {
    display: flex;
    align-items: center;
    }
 
ul {
    flex-wrap: wrap;
}

header nav .top-menu .logo {
    flex: 1;
    margin: 0;
    }

header .top-menu .top-menu-item  {
    margin-top: -10px;
     }  

.reception-with-paragraph {
    display: flex;
    flex-wrap: wrap;
}

 .contact-block-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(197, 195, 195);
 }

 .istall-img-text {
    display: flex;
    flex-wrap: wrap;
 }

}

@media (min-width: 320px) {
    header nav {
        display: flex;
        align-items: center;
        }
     
    ul {
        flex-wrap: wrap;
    }
    
    header nav .top-menu .logo {
        flex: 1;
        margin: 0;
        }
    
    header .top-menu .top-menu-item  {
        margin-top: -10px;
         }  
    
    .reception-with-paragraph {
        display: flex;
        flex-wrap: wrap;
    }

    .reception .paragraph {
        max-width: 320px;
    }

    .contact-block-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        justify-content: center;
        border-radius: 15px;
        background-color: rgb(197, 195, 195);
     }

     .istall-img-text {
        display: flex;
        flex-wrap: wrap;
     }
    }

header .banner {
    background-image: url(../img/teeth-crush.jpg);
    min-height: 551px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

    .tagline {
        font-size: 48px;
        color: var(--second-color);
        padding-left: 30px;
        font-style: italic;
    }

    .name-clinic {
        font-size: 48px;
        font-style: italic;
        color: var(--main-color);
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .reception-with-paragraph {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .paragraph {
        max-width: 370px;
        text-align: justify;
        font-size: 22px;
        color: var(--main-color);
    }

    .reception {
        max-width: 350px;
    }
        

    .contact-block {
        max-width: 980px;
        border-radius: 15px;
        background-color: rgb(197, 195, 195);
        margin-top: 50px;
            }

    .contact-block-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        color: var(--main-color);
    }

    .location-img {
        display: block;
        margin: auto;
        margin-top: 10px;
           }

    .contacts-button {
        border: 1px solid var(--main-color);
        color: var(--main-color);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .contacts-button:hover {
        border: 1px solid var(--main-color);
        background-color: var(--second-color);
        color: var(--third-color);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .telephone-img {
        display: block;
        margin: auto;
    margin-top: 10px;
    }

    .clock-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }

    .socialmedia-logo {
        max-width: 45px;
    }

    .gmail-logo {
        max-width: 50px;
    }

    .main-services {
        background-color: rgb(197, 195, 195);
        max-width: 980px;
        border-radius: 20px;
       }

    .title-services {
        text-align: center;
        color: var(--main-color);
        font-size: 36px;
        padding-top: 20px;
    }

    .install-img {
        max-width: 150px;
        }

    .istall-img-text {
        display: flex;
              justify-content: center;
             font-size: 24px;
        color: var(--second-color);
        text-align: center;
    }

    
    